.irm_text { font-family: "andrew semio", "andrew semio 2009", serif; font-size:1.5em;}
.chants {margin: 10px 0;}
.signs_container {border: 1px solid; height: 40px; margin-bottom: 10px; width: auto; line-height: 2; padding: 0 10px;}